*{
    padding: 0;
    margin: 0;
}


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    padding: 20px 25px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #005FAC;
    cursor: pointer;
    transition: .33s;
}

.btn:hover{
    background-color: transparent;
    color: #FFFFFF;
}

.btn-form{
    padding: 20px 25px;
    background-color: #005FAC;
    border: 1px solid #005FAC;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    transition: .33s;
}

.btn-form:hover{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;  
}
/* main css  */

#banner{
    padding-top: 200px;
    padding-bottom: 200px;
    background: url(../images/banner/banner3.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: right; 
}

#banner .banner-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

.banner-content{
    width: 525px;
    margin-left: auto;

}

.banner-content h1{
    font-size: 65px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.banner-content p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 26px;
    margin-bottom: 32px;
}

#about{
    padding-top: 130px;
}

#about .about-container{
    width: 67%;
    max-width: 1072px;
    margin: 0 auto;
    justify-content: center; 
    align-items: center;
    display: flex;
    gap: 87px;
}

.about-img img{
    /* width: 100%;  */
    display: block; 
}

.about-content h2{
    font-size: 40px;
    font-weight: 700;
    color: #151414;
    width: 288px;
    margin-bottom: 24px;
}

.about-content p{
    font-size: 16;
    font-weight: 400;
    color: #444343;
    line-height: 26px;
    margin-bottom: 16px;
}

.about-content ul{
    list-style: none;
}

.about-content ul li{
    display: flex;
    gap: 10px;
    align-items: center;
}

.about-content ul li i{
    color: #16D887;
}

.about-content ul li p{
    font-size: 16;
    font-weight: 400;
    color: #444343;
    line-height: 26px;
    margin: 0;
}

#plan{
    padding-top: 130px;
}

#plan .plan-container{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.plan-title h2{
    font-size: 40px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 50px;
}

.plan-content{
    display: flex;
    justify-content: space-between;
}

.plan-card h3{
    font-size: 30px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 16px;
    margin-top: 25px;
}

.plan-card p{
    font-size: 25px;
    font-weight: 500;
    color: #737272;
}

#cta{
    padding-top: 130px;
    padding-bottom: 130px;
}

#cta .cta-container {
  width: 70%;
  max-width: 1140px;
  margin: 0 auto;
  height: 300px;
  border-radius: 8px;

  background-image: url("../images/gradient1.png"),  url("../images/watch.png");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  background-position: center, center;
  
  display: flex;
  align-items: center;
}

.cta-content{
    width: 459px;
    padding: 59px 0px 59px 64px;
}

.cta-container h2{
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 24px;
}

#footer{
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #151414;
}

#footer .footer-container{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 331px;
}

.footer-content h2{
    font-size: 45px;
    font-weight: 700;
    color: #F8F8F8;
    margin-bottom: 16px;
}

.footer-content p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 26px;
    width: 485px;
    margin-bottom: 24px;
}

.footer-img{
    display: flex;
    gap: 17px;
}

.footer-form h3{
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 31px;
}

.footer-form input:not(.btn-form){
    width: 325px;
    padding: 21px 0px 21px 21px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    color: #F3F3F3;
    margin-bottom: 16px;
}